{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
    <title>dish page</title>
{% endblock %}
{% block individual_css %}
    <link href="{% static 'cookyourself/css/dish.css' %}" rel="stylesheet">
{% endblock %}
{% block individual_js %}
{% endblock %}
{% block main_body %}
<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Recipes</a></li>
    <li><a href="#">World Cuisine</a></li>
    <li><a href="#">American</a></li>
    <li class="active">chicken</li>        
  </ol>
</div>

<div class="container" id="jcont">
  <div class="jumbotron" id="btop">
        <div class="row">
            <div class="col-lg-8 col-md-8">
  			      <img class="dish-pic" alt="dish1" 
  			      src="{% static 'cookyourself/images/dish1.jpg' %}">
            </div>
            <div class="col-lg-4 col-md-4 dish-info">
            		<p> Honey glazed chicken </p>
                <h4>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                </h4>
                <h5> <a href="#">I made it</a> | <a href="#">2 reviews</a></h5>
                <h5> Recipe by: <a href="#">jbrink1</a></h5>
                <h5> Style: American </h5>
                <h5> Price: $5 </h5>
                <br>
                <h5 class="description">"My family love this dish! I learned it from
                                        my grandmother, who is an excellent cooker. Now
                                        I'm excellent too lol. Try it if you love chiken." 
                                        </h5>
            </div>
        </div>
      </div>
    </div>
<div class="container-fluid" id="below">
     <div class="navbar navbar-default">
        <div class="navbar-offcanvas offcanvas">
          <ul class="nav navbar-nav">
            <li><a href="#">
              <span class="glyphicon glyphicon-heart"></span>
              <span>Save</span>
            </a></li>
            <li><a href="#">
              <span class="glyphicon glyphicon-ok"></span>
              <span>I Made It</span>
            </a></li>
            <li><a href="#">
              <span class="glyphicon glyphicon-new-window"></span>
              <span>Share</span>
            </a></li>
            <li><a href="#">
               <span class="glyphicon glyphicon-print"></span>
               <span>Print</span>
            </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</div>



<div class="container" id="ingredient">
	<div class="row">
		<h3> Ingredients</h3>
		<hr>
		<div class=col-lg-8 id="ingre-list">	
			<ul>
          <li><a href="#">+</a> 1/4 cup honey</li>
          <li><a href="#">+</a> 2 tablespoons soy sauce</li>
          <li>
             <a href="#">+</a> 2 skinless, boneless checken breast halves, cut into bite-size pieces
          </li>
          <li><a href="#">+</a> 1/2 tablespoons olive oil</li>
  		  	<li><a href="#">+</a> Add all ingredients to list</li>
        	</ul>
        </div>
	</div>
</div>
<div class="container" id="instruction">
	<div class="row">
		<h3> Instructions </h3>
		<hr>
		<div class=col-lg-8>
			<ol>
				<li>Whisk honey, soy sauce, and red pepper flakes in a bowl.</li>
				<li>Heat olive oil in a skillet over medium heat; cook and stir chicken in hot oil until lightly brown, about 5 minutes. Pour honey mixture into skillet and continue to cook and stir until chicken is no longer pink in the center and sauce is thickened, about 5 minutes more.</li>
	    	</ol>
	    </div>
	</div>
</div>
<div class="container" id="comments">
	<div class="row">
		<h3> Comments </h3>
		<hr>
        <div class="row">
        	<div class="col-lg-1">
            	<img class="portrait img-circle" src="{% static 'cookyourself/images/p1.jpg' %}" alt="p1">
            	<p class="name"><a href="#">Alice</a></p>
          	</div>
          	<div class="col-lg-5">
        		<textarea id="comment-text" name="item" style="resize: none" rows="2" cols="40" placeholder="Any comments?"></textarea>
    		</div>
    		<div class="col-lg-2 ">
        		<input id="comment-button" type="submit" value="Post">
    		</div>
        </div>
		<div class="row comment-message">
			<div class="col-lg-1">
            	<img class="portrait img-circle" src="{% static 'cookyourself/images/p1.jpg' %}" alt="p1">
            	<p class="name"><a href="#">Alice</a></p>
          	</div>
          	<div class="col-lg-5">
            	<p>It's a great recipe!</p>
            	<div class="row comment-info">
            		<div class="col-lg-4">
                		<p class="comment-post-meta">September 6, 2016</p>
            		</div>
            	</div>
	    	</div>
		</div>
		<div class="row comment-message">
			<div class="col-lg-1">
            	<img class="portrait img-circle" src="{% static 'cookyourself/images/p2.jpg' %}" alt="p2">
            	<p class="name"><a href="#">Arial</a></p>
          	</div>
          	<div class="col-lg-5">
            	<p>Too sweet I think, so I add less honey~</p>
            	<div class="row comment-info">
            		<div class="col-lg-4">
                		<p class="comment-post-meta">September 5, 2016</p>
            		</div>
            	</div>
	    	</div>
		</div>
	</div>
</div>
{% endblock %}