{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
<title>Shoppinglist</title>
{% endblock %}
{% block individual_css %}
<link href="{% static 'cookyourself/css/shoppinglist.css' %}" rel="stylesheet">
{% endblock %}
{% block individual_js %}
<script src="{% static 'cookyourself/js/gmap.js' %}" type="text/javascript"></script>
<script src="{% static 'cookyourself/js/shoppinglist.js' %}" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5P23s1JdyGUCx1RZxs7Qv84P5ff1Ocl0&libraries=places"></script>
{% endblock %}
{% block main_body %}
<div class="container slist-base">
  <div class="page-header">
    <h1>Your shopping List<br><small>We deliver the best and cheapest ones for you</small></h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron jumbotron-wide">
        <h2>Items</h2>
        <hr>

        <ul id="shopping-list" class="list-group">

        </ul>

        <div class="clearfix">
          <a class="btn btn-warning btn-lg pull-right" href="{% url 'print_list' %}" role="button"><span class="glyphicon glyphicon-print"></span>Print</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="jumbotron jumbotron-wide inline-headers align-h3-to-p">
        <h2>Price</h2>
        <hr>

        <h3>Total ($)</h3>
        <span class="pull-right"><p id="total_price">{{ price }}</p></span>
      </div>

      <div class="jumbotron jumbotron-wide clearfix inline-headers align-h3-to-p">
        <h3>Send it to me</h3>
        <div class="form-group">
          <input id="email" type="text" class="form-control">
        </div>
        <button class="btn btn-warning btn-lg pull-right" onclick="sendMail(); return false" type="submit">
          <span class="glyphicon glyphicon-envelope"></span>Send
        </button>
      </div>

      <div class="jumbotron jumbotron-wide inline-headers align-h3-to-p">
        <h3>Find the nearest store</h3>
        <div class="form-group">
          <input id="user_location" type="text" class="form-control" placeholder="Where're you?">
        </div>
        <button class="btn btn-warning btn-lg pull-right" onclick="getLocation(); return false">
          <span class="glyphicon glyphicon-search"></span>Search
        </button>
        <br>
        <div id="mapCanvas">
          <div id="map" style="width:100%;height:180px"></div>
        </div>
      </div>
      <div>
          {% csrf_token %}
      </div>

    </div>
  </div>
</div>
{% endblock %}
