/*
 * Globals
 */

/*
 * Override Bootstrap's default container.
 */
@media (min-width: 768px) and (max-width: 800px) {
  .container {
        width: 768px;
  }
}
@media (min-width: 800px) and (max-width: 992px) {
  .container {
       width: 800px;
  }
}
@media (min-width: 1200px) {
    .container {
        width: 80%;
    }
}
/*
 * Masthead for nav
 */

.base-masthead {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #f47d42;
     /*background-color: #f1f6e6;*/
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

/* Nav links */
.base-nav-item {
    position: relative;
    display: inline;
    padding: 15px;
    font-weight: 500;
    color: #cdddeb;
}

.base-nav-item:hover,
.base-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

#toggleButton {
    background-color: #9fa3a9;
    /*border:1px solid orange;*/
}

/* Active state gets a caret at the bottom */
.base-nav .active {
    color: #fff;
}

.base-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

#navBarSearchForm input[type=text] {
    width: 250px !important;
}

/* Reference from
  http://stackoverflow.com/questions/27592974/how-to-prevent-bootstrap-3-3-3-1-navbar-form-going-into-separate-line-on-mobil
  https://output.jsbin.com/sudide/1/  */
@media (min-width:0px) and (max-width:767px) {
	.navbar {
	    display: table;
	    width: 100%;
	}
	.navbar-brand,
	.navbar-search,
	.navbar-toggle { display: table-cell }
	.navbar-search {
	    padding: 7.5px 15px;
	    width: 1%;
	}
}
@media (max-width:400px) {
	.navbar-search {
	    padding: 7.5px 15px;
	    float: left;
	    clear: both;
	    width: 100%;
	}
}
/* Expand to the whole space */
@media (min-width:768px) {
	.navbar-search {
	    float: left;
	    margin: 7.5px 5px;
	}
}
@media (min-width:768px) and (max-width:800px) {
  .nav>li>a {
      position: relative;
      display: block;
      padding: 15px 10px;
  }
}
/*@media (max-width: 768px) {
    .nav
    .navbar-form {
        margin-right: 0px;
        margin-left: 0px;
    }
}*/


/*
 * jumbotron setting
 */
.jumbotron-single {
  margin-bottom: 20px;
}
.jumbotron-wide {
   padding: 20px;
   margin-bottom: 20px;
}
.jumbotron-wide img {
    width:100%;
}
@media screen and (min-width: 768px){
  .container .jumbotron {
     padding-right: 30px;
     padding-left: 30px;
  }
}

.col-equal-height {
    display: table;
}
.col-equal-height > [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}