#btop.jumbotron {
    margin-top: 0;
    background-color: #f2f2f2;
    margin-bottom: 0;
}

@media (min-width: 0px) and (max-width: 576px) {
  .container-fluid {
        width: 100%;
        margin-top: 10px;
        padding-right: 0px;
        padding-left: 0px;
  }
  #jcont.container {
    width: 100%;
    padding-bottom: 0;
    padding-right: 0px;
    padding-left: 0px;
  }
  #below.container-fluid {
    margin-top: 0;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 800px) {
  .container-fluid {
        width: 90%;
        margin-top: 10px;
  }
  #jcont.container {
    width: 90%;
    padding-bottom: 0;
  }
   #below.container-fluid {
    margin-top: 0;
    width: 90%;
  }
}
@media (min-width: 800px) and (max-width: 992px) {
  .container-fluid {
       width: 90%;
       margin-top: 10px;
  }
  #jcont.container {
    width: 90%;
    padding-bottom: 0;
  }
  #below.container-fluid {
    margin-top: 0;
    width: 90%;
  }
}
@media (min-width: 1200px) {
    .container-fluid {
        width: 90%;
        margin-top: 10px;
    }
    #jcont.container {
    width: 90%;
    padding-bottom: 0;
    }
    #below.container-fluid {
    margin-top: 0;
    width: 90%;
    }
}

.nav-item {
    color: #ffffff;
    font-size: 13px;
}

#nav {
    background-color: #e88f1a;
}

.breadcrumb {
    margin-bottom: 0;
    background-color: #e6e6e6;
    white-space: nowrap;
}

.breadcrumb > li + li:before {
    color: #ccc;
    content: "> ";
    padding: 0 5px;
}

.description {
    font-family: arial;
    font-size: 15px;
    font-style: italic;
}

.glyphicon-star {
    color: #f47d42;
}
.glyphicon-star-empty {
    color: #f47d42;
}

.dish-pic {
    height: 80%;
    width: 90%;
}

@media screen and (min-width: 1200px) {
    .dish-pic {
        height: 80%;
        width: 80%;
    }
}


#ingredient {
    padding-bottom: 10px;
}

#instruction {
    padding-bottom: 30px;
}

#ingre-list {
    border: 1px solid #000;
    padding-top : 10px;
    padding-bottom: 15px;
}

#mapCanvas {
    float: right;
}

.portrait {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}


.recipe-navbar div {
    height: 60px;
    font-size: 17px;
}


#video{
	margin-bottom:20px;
}
.text {
	font-size: 18px;
}
#star {
	color: #ffffff;
	font-size: 18px;
}
#bheart{
	border-width: 0px;
}
#comments_section {
    padding: 20px 20px 15px 20px;
}
#post-content{
    margin-bottom: 20px;
}
.post-hr{
  border-top: 1px solid #a79e9e;
}

#save{
   cursor: pointer;
}

#upvote{
    cursor: pointer;
}
