#profile_dishes_container {
    margin-top: 10px;
    margin-bottom: 10px;
}

#profile_info_section {
    padding: 10px 20px 10px 20px;
}

#profile_image {
    padding: 10px 20px 10px 40px;
    width:60px;
    height:60px;

}

.profile_info_text {
    color: darkgrey;
}

#comments_section {
    padding: 10px 20px 10px 20px;
}

.profile_pic {
    display: block;
    margin-left: auto;
    margin-right: auto
}