.tab-content {
  border: 1px solid #DDDDDD;
  border-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  /*display: none;*/
}
.tab-content img {
  max-height: 240px;
  overflow: hidden;
}

.max-lines {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 1.0em;
  line-height: 1.0em;
}
