body {
  background-color: #F2F0EB;
}

.jumbotron {
  background-color: #FFFFFF;
}
.inline-headers h3 {
  display: inline-block;
  vertical-align: baseline;
}
.align-h3-to-p h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.icon-remove-parent {
  width: 15px;
  height: 40px;
}
.btn-list-remove {
  margin-top: -0.5em;
}
.icon-remove {
  color: #F2F0EB;
}
.icon-remove-parent button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}
li.list-group-item > span {
  display: none;
}
li.list-group-item:hover > span {
  display: inline;
}

#map{
  margin-top:40px;
}
